#!/bin/bash

shome=$HOME

pushd $shome  > /dev/null;

if [[ -f /opt/.profile ]]; then 
  source /opt/.profile
elif [[ -f .macports/.profile ]]; then
  export MACPORTS_ROOT=$shome/.macports
  source .macports/.profile
fi

if [[ -d .rvm ]];              then source .rvm/scripts/rvm; rvm default; fi;
if [[ -f .rbenv/.profile ]];   then source .rbenv/.profile; fi
if [[ -f .hubflow/.profile ]]; then source .hubflow/.profile; fi;
if [[ -f .cue/.profile ]];     then source .cue/.profile; fi
if [[ -f .ubuntu/.profile ]];  then source .ubuntu/.profile; fi

popd > /dev/null;

alias p='pancake'
